<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="//www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <div id="bio">
    <p>I'm a computer science student at St Andrews. I like sailing, programming, skiing, music, radio among other things.</p>
    <p>Drop me an email at <a href="mailto:billy.trend@gmail.com">billy.trend@gmail.com</a></p>
  </div>
    <a class="about" href="/about-me/">About Me</a>
  <div id="social">
    {% include social.html %}
  </div>

  <div id="tags">
    {% include tags.html %}
  </div>
</nav>
