<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="//www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <div id="bio">
    <p>Software Engineer at Microsoft, Vancouver</p>
    <p>Drop me an email at <a href="mailto:billy.trend@gmail.com">billy.trend@gmail.com</a></p>
  </div>
    <a class="about" href="/about-me.html">About Me</a>
  <div id="social">
    {% include social.html %}
  </div>

  <div id="tags">
    {% include tags.html %}
  </div>
</nav>
